<h3 class="entrytitle"><%= @article.title %></h3>
<br>
<div class="contentText">
	<h4><%= @article.display_date.loc("%d. %B %Y") %></h4>
			
<%= "<p>" unless @article.body.starts_with?("<p>") %>
	<%= @article.body %>
<%= "</p>" unless @article.body.starts_with?("<p>") %>
	<div class="back"><%= link_to("&lt; #{"back".t.downcase}",request.env['HTTP_REFERER']) %></div>
	<%= link_to_print(article_url(@article,:print=>'yes')) unless @print_page %>
	<% if (@article.with_comments && !@print_page) %>
	<%= link_to_comment(@article.title,article_url(@article))  %>
	<% end %>
</div>
	
