<h2><%= "New attachment for page ".t %>"<%= @page.title %>"</h2>
<%= error_messages_for :attachment %>
<%= start_form_container %>
<% form_for(:attachment, :url => page_attachments_path, :html => { :id=>'attachment_form'}) do |f| %>
<%= hidden_field_tag :new_id, @attachment.id %>  
<%= hidden_field_tag :default_position, params[:new_position] %>  
<%= hidden_field_tag :position, params[:new_position] %>  
	<%= render(:partial => 'attachment_form', :locals=>{ :f=>f})%>
		<%= fieldset_legend("Action".t) %>
		<%= submit_tag "create".t, :class=>'fancy_ok' %> 
	<% end %>
		<%= button_to 'Back'.t, page_attachments_path, :class=>'fancy_nok',:method=>:get %>
	<%= fieldset_end %>
	
	<div id="upload_icon_form_div"><%= render(:partial => 'upload_icon_form')%></div>
	<div id="upload_file_form_div"><%= render(:partial => 'upload_file_form')%></div>
	<%= upload_frame %>
<%= end_form_container %>